# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules/
dist/
dist-ssr/

# Build caches
.cache/
.vitepress/cache/
.vitepress/dist/

# Environments
.env
.env.*.local

# Ignore local virtual environment
.cropai/

# Firebase
.firebase/
.firebaserc
firebase-debug.log*

# Testing
coverage/
*.lcov

# IDE settings
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
ehthumbs.db

# Python
venv/
__pycache__/
pycache/
*.pyc
*.pb
*.pbtxt

# Misc system
*.tsbuildinfo
*.swo
*.swp
*.DS_Store

# Data and models
# *.keras
# *.h5

backend/cropai-59b38-firebase-adminsdk-fbsvc-35dfd8acb5.json
backend/cropai-d8e2e-firebase-adminsdk-fbsvc-cd238acae8.json
